
<div class="wrapper">

    <div class='csslider1 autoplay '>
        <input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
        <input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
        <input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
        <input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
        <input name="cs_anchor1" id='cs_pause1' type="radio" class='cs_anchor' >
        <ul>
            <div style=" visibility: hidden; ">
                <img src="http://cssslider.com/sliders/pen/images/buns.jpg" style="width: 100%;">
            </div>
            <li class='num0 img'>
                 <a  target=""><img src='assets/images/slide1.jpg' alt='slider1' title='slider1' /> </a>
            </li>
            <li class='num1 img'>
                 <a  target=""><img src='assets/images/slide2.jpg' alt='slider2' title='slider2' /> </a>
            </li>
            <li class='num2 img'>
                 <a  target=""><img src='assets/images/slide3.jpg' alt='slider3' title='slider3' /> </a>
            </li>

        </ul>
        <div class='cs_description'>
            <label class='num0'>
                <span class="cs_title"><span class="cs_wrapper">slider1</span></span>
            </label>
            <label class='num1'>
                <span class="cs_title"><span class="cs_wrapper">slider2</span></span>
            </label>
            <label class='num2'>
                <span class="cs_title"><span class="cs_wrapper">slider3</span></span>
            </label>
        </div>

        <div class='cs_arrowprev'>
            <label class='num0' for='cs_slide1_0'>
                <img src="assets/images/prev.svg" alt="">
            </label>
            <label class='num1' for='cs_slide1_1'>
                <img src="assets/images/prev.svg" alt="">
            </label>
            <label class='num2' for='cs_slide1_2'>
                <img src="assets/images/prev.svg" alt="">
            </label>
        </div>
        <div class='cs_arrownext'>
            <label class='num0' for='cs_slide1_0'>
                <img src="assets/images/next.svg" alt="">
            </label>
            <label class='num1' for='cs_slide1_1'>
                <img src="assets/images/next.svg" alt="">
            </label>
            <label class='num2' for='cs_slide1_2'>
                <img src="assets/images/next.svg" alt="">
            </label>
        </div>

        <div class='cs_bullets'>
            <label class='num0' for='cs_slide1_0'>
                <span class='cs_point'></span>
                <span class='cs_thumb'><img src='assets/images/slide1.svg' alt='slider1' title='slider1' /></span>
            </label>
            <label class='num1' for='cs_slide1_1'>
                <span class='cs_point'></span>
                <span class='cs_thumb'><img src='assets/images/slide2.svg' alt='slider2' title='slider2' /></span>
            </label>
            <label class='num2' for='cs_slide1_2'>
                <span class='cs_point'></span>
                <span class='cs_thumb'><img src='assets/images/slide3.svg' alt='slider3' title='slider3' /></span>
            </label>
        </div>
        </div>

</div>
            <!-- End cssSlider.com -->


